body{
    background:rgb(243, 185, 185,0.8);
    height: 190px;
}

.top{
    background: rgb(240, 104, 104);
}
/* .icon{
    font-size: 30px;
} */

.top .icon .ic a{
    color: aquamarine;
    text-decoration: none;
    float: left;
    padding: 5px 20px;
    margin-top: 0px;
}
.top .icon .ic a:hover{
    color: rgb(8, 11, 11);
}

.top  .left a{
    /* background: rgb(229, 106, 106); */
    color: rgb(195, 218, 238);
text-decoration: none;
float: right;
padding: 5px 20px;
margin-top: 0px;


}
.top .left a:hover{
    /* background: rgb(245, 242, 248); */
    color:black;
}
.logo a{
    font-size: 40px;
}

.logo{
    float: left;
    /* display: inline-block ; */
    position:absolute;
    padding:20px 0;
    color: aliceblue;
    
    /* background: rgb(195, 218, 238); */
 
}
.sear{
    position: relative;
}
.shopvn{
   
    position: relative;
}
.search{
border:1px rgb(234, 231, 238) solid;
    width: 60%;
    height: 40px;
border-radius: 10px;
    position: absolute;
margin-left:20%;
margin-top: -45px;
}
.search:hover{
    box-shadow:rgb(0 0 0 / 30%) 0px 0px 2px 2px, rgba(42, 2, 2, 0.6) 0px 0px 9px 3px
}
.icsear{
    background: rgb(255, 137, 137);
    position: absolute;
    margin-left: 75%;
        margin-top: -45px;
    height: 40px;
    /* width: 40px; */
    border-radius:10px ;
   border: 0px solid rgb(17, 16, 16);
}
.icsear:hover{
    background: rgb(71, 67, 67);
    color: aliceblue;
}
.main{
    height: 310px;
}

.main .box{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.box-button{
    /* border: 2px solid rebeccapurple; */
    width: 1000px;
    margin:10px auto 0;
    height: 50px;
}
.box-button a{
   
    text-decoration: none;
}
.box-contet{
    width: 1000px;
    float: left;
    border-radius: 10px;
    /* border: 1px solid gray; */
    background: rgb(239, 131, 212);
}
.box-button .box-contet a{
    position:relative;
    left:20px   ;
    margin-left: 90px;
    
}
/* .box-button .box-contet .icic a{
    margin-left: 25px;
    position: relative;
    left: 20px;
} */
.box-button .box-contet .icic a{
    top:0px;
    left: -1%;
    margin-left:96px;
  
    /* width: 30px; */
    
}
.box-button .box-contet a:hover{
    background:rgb(239, 131, 212, 0.9);
    color: rgb(241, 235, 235)    ;
}
.icic{
  margin-top: 14px;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppin', sans-serif;
}


/* body{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;

} */
.container{
    color: aliceblue;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
position: relative;
display: flex;
  /* min-height: 100vh; */
    width: auto;
    height:auto;
    /* text-align: center; */
    padding: 60px 0px;
 
}
#slideshow {
  z-index: 1;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  height: 422px;
  width: 700px;
  /* margin-left: -40px;
  margin-top: -30px; */
  margin-left: 24%;


}

.slide-wrapper {
  
  width: 3000px;
  -webkit-animation: slide 10s ease infinite;

}

.slide {
  /* width: 3000px;
  transform: translate3d(0px, 0px, 0px);
  transition: all 0s ease 0s;
  position: relative; */
  display: block;
  float: left;
  height: 250px;
  width: 700px;
}
.slide.a{
 
  width: 260px;
  height: 700px;
  margin-top: 20px;
}
menu{
 
  height: 250px;
  padding: 0px;
  margin: 0px;
}
  

@-webkit-keyframes slide {
  20% {
      margin-left: 0px
  }

  30% {
      margin-left: -700px
  }

  50% {
      margin-left: -700px
  }

  60% {
      margin-left: -1400px
  }

  80% {
      margin-left: -1400px
  }
}

/* .box::after{
    content: " ";
    position: absolute;
    inset: 4px;
    background: rgb(77, 103, 114);


    border-radius: 20px;

}
.box::before{
    margin-left:9%;
        content: " ";
        position: absolute;
        width: 600px;
        height:500px;
        background-image: linear-gradient(rgb(242, 78, 13),rgb(206, 18, 71),rgb(225, 223, 111));
        animation: animations 4s linear infinite;

}
@keyframes animations{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box>.content{
    margin-left: 30px;
    width: 300px;
    height: 500px;
    position: relative;
    z-index: 2;
    color: aliceblue;
    border-radius: 10px;
  

} */


.container .box{
    text-align: center;
    background: rgb(103, 204, 232);
    justify-content: center;
    align-items: center;
position: relative;
display: flex;
    height:350px;
    width: 400px;
    padding: 0 20px;
    overflow: hidden;
    gap: 20px;

}
.container .box{
    height: 100%;
    width: 100%;
}
.container .box .content .icon{
    color: var(--clr);
   
    box-shadow: 0 0 0 4px rgb(33, 33, 33) , 0 0 0 5px var(--clr);
    display: flex;
    justify-content: center;
    align-items: center;
     background: rgb(106, 178, 222);
    font-size: 3em;
    transition: 0.4s ease-in-out;

}
.container .box:hover .content .icon{
    color: rgb(33, 32, 32);
    background: var(--clr);
    box-shadow: 0 0 0 4px rgb(35, 35, 35), 0 0 0 3000px var(--clr);
    
}
.container .box .content .text h1{
     
   color: antiquewhite;
   transition: 0.4s ease-in-out;
}
.container .box:hover .content .text  h1{
    color: rgb(25, 25, 25);

}
.container .box .content .text  p{
    color: antiquewhite;
    transition: 0.4s ease-in-out;
 }
 .container .box:hover .content .text  p{
     
     color: rgb(33, 32, 32);
 
 }
 .container .box .content .text a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    padding: 8px 15px;
    background: var(--clr);
 }
 .container .box:hover .content .text a{
    background: var(--clr);
    background: rgb(123, 117, 117);
 }

 .center{
    /* border: 2px solid red; */
    width: 100%;
    height: 850px;
 margin-left: auto;
 margin-right: auto;
 /* position: relative; */
 }
 .center-two{
    /* position: absolute */
    margin-left: 32px;
    width: 263px;
    float: left;
    
   
 }
 .boxx{
    background: rgb(0, 0, 0,0.2);
    display: inline-block;
    /*                   */
    /* position: absolute; */
    width: 100%;
    height: 850px;
 }


 .center-box{
    border-radius: 20px;
    background:aliceblue;
    /* position: relative; */
    /* position: absolute; */
    float: left;
/* margin-top: 6px; */
height: 410px;
    width: 100%;
    /* border: 2px solid gray; */
 }
 .center-box:hover{
    border-style: 2px solid rgb(52, 51, 51);
 border-radius:10px;
 /* background: gray; */
 color: rgb(199, 29, 176) ;
 
 }
 .center-boxx{
  
    /* border-radius: ăđpx; */
   width: 15;
    position: relative;
    /* float: left; */
top: 428px;
height:     410px;
    width: 100%;
    /* border: 2px solid gray; */

    border-radius: 20px;
    background: aliceblue;
    /* position: relative; */
    /* position: absolute; */
   
    /* margin-top: 6px; */
    
 }
 .center-boxx:hover {
    /* border-style: 2px solid rgb(52, 51, 51); */
    border-radius: 10px;
color: rgb(199, 29, 176) ;

}

 .anh1:hover{
    /* background: gray; */
    
    -webkit-transform: translateY(-0.5625rem);
    transition: 0.5s ease-out;
 }
 .anh{
    position: relative;
 }
 .anh1{
   
   /* border: 2px solid rebeccapurple; */
    border-radius: 10px;
    margin-top: 10px;
 }
 .anhh{
    position: absolute;
   
 }
 .anh1:hover{
    /* background: gray; */
    
    -webkit-transform: translateY(-0.5625rem);
    transition: 0.5s ease-out;
 }

 .anhh1{
  
  /* position:absolute; */
     margin-top: 10px;
  }
  .anhh1:hover{
    /* background: gray; */
    
    -webkit-transform: translateY(-0.5625rem);
    transition: 0.5s ease-out;
 }
 img{
  margin-left:5px;
    border-radius: 10px;
    width: 250px;
    height: 240px;
    
 }
 /* img:hover{
    background:rgb(132, 126, 126) ;
 } */
 .gia{
    color: rgb(248, 8, 8);
    font:bolder;
    margin-top: 10px;
 }
 h6{
    margin-top: 5px;
    padding: 0 0 30px;
 }
 a{
    color:rgb(0, 0, 0);
    text-decoration: none;
  
    width: auto;
    height: auto;
    margin-top: 100px;
 }
 p{
    padding: 5px;
 }
 /* p:hover{
    color: aqua;
 } */
 a:hover{
    color: rgb(246, 7, 7);
 }
.add-cart{
    background:aqua;
    font-style:unset;
    font-size: 15px;
    font-weight: 700;
    margin-left: 77px;
    border-radius: 4px;
}

.add-cart:hover{
    background:rgb(16, 15, 15);
    color:white;
}
.box-end{
    width: 263px;
    height: 150px;
    background: aquamarine;
    margin-left: 0px;
    border-radius: 10px;
}
#cart{
  position:sticky;
    font-size: 40px;
    float: right;
    background: rgb(165,165,165);
    border-radius: 5px;
    border: 1px solid white;
    outline: none;
 
}
#cart:hover{
   border: 2px solid black;
    background: rgb(165,165,165,0.9);
}
/* .modal-header{
    float: right;
} */



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255,80%);
    background-clip: padding-box;
    border: 25px solid rgba(255, 255, 255, 0.2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
    








  










  
  .cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
  }
  
  .cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  
  .cart-row {
    /* display: flex; */
  }
  
  .cart-item {
    width: 33%;
  }
  
  .cart-price {
    position: absolute;
   width: 15%;
    margin-top: -35px;
    font-size: 1.2em;
    color: #333;
    margin-left: 45%;

  }
  
  .cart-quantity {
    position: absolute;
    margin-left: 74%;
    width: 20%;
    margin-top: -37px;
  }
  
  .cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
  }
  
  .cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
  }
  
  .btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
  }
  
  .btn-danger:hover {
    background-color: #CC4C4C;
  }
  
  .cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
  }
  
  .cart-row:last-child {
    /* border-bottom: 1px solid black; */
  }
  
  .cart-row:last-child .cart-column {
    border: none;
  }
  
  .cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
  }
  
  .cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
  }
  
  .cart-total-price {
    color: #333;
    font-size: 1.1em;
  }
  .slideshow{
    -webkit-animation: slide-anh 10s ease infinite;
    width: 4000px;
  }

  .slide-anh{
    display: block;
    float: left;
    width: 894px;
    height: 245px;
    margin-left: 0px;
  }
  #slidee{
    position: relative;
    overflow: hidden;
  }

  @-webkit-keyframes slide-anh {
    20% {
        margin-left: 0px
    }

    30% {
        margin-left: -894px
    }

    50% {
        margin-left: -894px
    }

    60% {
        margin-left: -1788px
    }

    80% {
        margin-left: -1788px
    }
}

  .body{
    background: rgb(246, 172, 172,0.2);
  }
  


  input[type="text"] {
    border:0px;
    /* border-radius: 0px; */
    outline:none;
  }

  .icicic{
  
  margin-left: -27px;
      
        margin-top: 0px;
        position: absolute;
  }
  .icicic:hover{
    color: rgb(8, 123, 246);
    /* background: #56CCF2; */
  }
 

  .end{
    position: relative;
    background: rgb(0, 0, 0);
    height: 305px;
    margin-top: 350px;
    width: 100%;
  }
  .end>a{

     color: rgb(247, 240, 240);
    font-size: 50px       ;
  }
  .end>.ic-end{
    position: relative;

    margin-left: 30%;}
   
  .end-shop>a:hover{
    color:rgb(255, 255, 255);

  }
  .end-shop>a{
    color: #fff;
    font-size: 50px;
  }
  .end-logo{
    position:absolute;
  }
  .end-contend{
    padding: 20px;
    /* margin-top: 20px; */

  }
  .end-contend>a>li{
    color: #fff;
    padding:0 0 10px;
  }
  .end-contend>a>li:hover{
    color:rgb(236, 76, 76);
    transition: 0.3s;
  }
.endd{
  position: relative;
  height:290px ;
  width: 1450px;
  margin-left: 20px;
  margin-top: -200px;
}
.end-ic{
  margin-left: 25%;
}
.end-30{
  color: #fff;
  font-size: 30px;
  margin-top: -10px;
  padding: 20px;
  text-decoration: underline;
  font-weight: 700;

}
.end-30:hover{
  color:rgb(254, 254, 254);
}
.icon{
  margin-left: 20px;
  padding: 0 5 5px;
}
.ic-end{
  color: rgb(255, 255, 255);
  margin-top: 13px;

}

.ic-end>a{
  color: #fff;
  margin-top: 13px;

}
.ic-end>a:hover{
  color: rgb(236, 69, 69);
  transition: 0.3s;
  
}
button.abc{
  color:white ;
  background: #0275d8;
  margin-top: 15px;
  margin-left: 20px;
  height: 20px;
  width: 100px;
  border: none;
  border-radius:5px;
}

.end-icc{
  margin-left: 53%;
  margin-top: -208px;
}
.imgg{
  margin-top: -18px;
  margin-left: 40px;
  /* margin-left: 75%; */
}
.end-iccc{
  margin-left: 77%;
  margin-top: -301px;
}

.menuu{

  position: relative;
  margin-top: 100px;
 
text-align: center;
  /* float: left; */
}
.menuu .menuuu a{
  position: relative;
  text-decoration: none;
}
.menuu>.menuuu{
  
  display:inline-block;
 
  text-align: center;
margin-left:200px;
list-style: none;
position: relative;}

.menuuu:hover{
  box-shadow: 0 2px red;
  transition: 0.8s;
}

.menuu>.menuuu:hover>.menucon{
  display: block;
}
.menucon li{
  z-index: 100;

  box-shadow: 0 1px gray;
  padding: 4 10px;
  margin-top: 15px;
  width: 80px;
  margin-left: -2px;
  /* position:relative; */
}
.menucon li:hover{

  z-index: 100;
  color: rgb(238, 63, 63);
  background:rgb(243, 185, 185,0.3);
}



  

.menucon{

  z-index: 100;
  /* margin-left: 20px; */
  /* width: 100%;
  height: 100%; */
  width: 80px;
  margin-left: -10px;
  background:rgb(243, 185, 185,0.4);
  position: absolute;
  display: none;
  list-style: none;
  /* background: rebeccapurple; */
}