
#diachi{
    position: relative;
    margin-top: 53px;
}

.box{
    width: 326px;
    height: 461px;
    /* border: 1px red solid; */
    margin-left: 59px;
    margin-right: auto;
    margin-top: 32%;
    box-shadow:-18px -8px 4px 3px gray;
    /* border: 1px solid red; */
    /* background:aquamarine; */
    background:white;
    border-radius: 15px;
    position: absolute;
}
.circle{
    /* width: 50px;
    height: 110px; */
    /* border: 1px solid red; */
    margin-left: 47%;
    width: 55px;
    height: 55px;
    /* border: 1px solid red; */
    border-radius: 45px;
    margin-top: -56px;
    background:rgba(238, 242, 243, 0.9);
    box-shadow:0px -12px 0px 11px rgb(232, 170, 211);
    z-index: 5;

    position: absolute;

}
.circle:hover{
    background: rgb(86, 86, 86);
}
.dangky{
    /* width: 19px;
    height: 10px; */
    color:rgb(0, 0, 0);
    font-size: 30px;
    position: absolute;
   margin-left:13px;
   margin-top: 13px;
}
.dangky:hover{
    color: white;
    /* background: black; */
}
body{
    /* justify-content: center;
    text-align: center;
    float: left; */
    /* height: 100%;
    width: 100%; */
    background-image: linear-gradient(-90deg, purple, pink);;
}
.conten{
    width: 450px;
    height: 650px;
    /* border: 1px red solid; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    background:rgb(237, 176, 211) ;
    z-index: 2;
    border-radius: 20px;
    position: relative;

}
.content{
    text-align: center;
   /* position: fixed; */
   position:absolute;
   margin-top: 50px;
   margin-left: 16%;
   font-weight: 1000;
   font-size: 30px;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type="text"] {
    /* position:absolute; */
    width: 280px;
height: 30px;
margin-left: -20px;
margin-top: 30px;
    box-sizing: border-box;
    /* border:none; */
    border-radius: 0px;
    outline:none;
    padding: 12px 14px;
    transition:0.65s ease-in-out;
    box-shadow: 0 1px red;
    border: 0PX  ;
  }
  /* input[type="text"]:hover{
     box-shadow: 0 1px rgb(236, 234, 234);
     transition: 1s;
  } */
input{
    width: 231px;
    height: 31px;
    background-color: none;
    color: rgb(17, 161, 113);
    padding: 0px 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(17, 161, 113);
    border-image: initial;
    border-radius:none;
    text-emphasis: none;
    border: 1px solid rgb(164, 43, 43);
    /* box-shadow: 0 3px red; */
    /* box-shadow: 0 1px black; */
   /* border: 1px solid red; */
}
input:hover{
    /* box-shadow: 0 1px rgb(236, 234, 234); */
     /* box-shadow: 0 1px rgb(214, 72, 72); */
    transition: 2s;
}
#username{
    margin-top: 150px;
}
label{
   
    position: absolute;
    /* color: rgb(17, 161, 113); */
   margin-top: 35px;
    margin-left:-200px;
    transform: translate(-60%);
    transition: all 0.25s;
}
input:focus+ label{
    margin-top: -1px;
    display: inline-block;
    padding: 0 5px;
    background-color: rgb(255, 255, 255);
    
}  
input#username label{
    margin-top: 10px;
}
#username{
    position: relative;
    margin-top: 53px;
}
#email{
    margin-top: 57px;
}

#password{
    margin-top: 57px;
}
button{
    margin-top: 15px;
    background: none;
    border: none;
    font-size: 25px;
    margin-left: 10px;
}
button:hover{
    color:white;
}
.dangnhap{
    color: red;
    text-decoration: none;
    font-size: 20px;
    margin-left: 90px;
    margin-top: -130px;
    position: absolute;
} 
.dangnhap:hover{
   
        box-shadow: 0 2px red;
        transition: 0.8s;
        /* background: black; */
    
}
.ic{
    margin-top: 62px;
    position: absolute;
    margin-left: -296px;
}
.icc{
    margin-top: -33px;
    position: absolute;
    margin-left: -38px;
}
.iccc{
    margin-top: -34px;
    margin-left: -38px;
    position: absolute;
  }